@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(113, 163, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

h1{
    margin-top: 1.2%;
    font-size: 40px;
}

p{
    font-size: 18px;
}

img{
    width: 6.5%;
    position: absolute;
    margin-left: 17.9%;
    margin-top: -5%;
}

form{
    background-color: #181c31f5;
    border-radius: 6px;
    margin-top: 4%;
    margin-bottom: 1.3%;
    padding: 2%;
    width: 43%;
}

.campo label{
    display: block;
    color: white;
    font-size: 27px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2.5%;
}

.campo input[type="text"], .campo input[type="email"]{
    padding: 2.5%;
    width: 90%;
    margin-left: 2.5%;
    border: 1px;
    border-radius: 8px;
    margin-bottom: 1.5%;
    box-shadow: 2px 2px 2px black;
}

.campo input[type="date"], .campo select{
    padding: 1.5%;
    width: 40%;
    margin-left: 2.5%;
    border: 1px;
    border-radius: 8px;
    margin-bottom: 1.5%;
    box-shadow: 2px 2px 2px black;
}

.campo option{
    font-size: 15px;
}

.checkOpt label{
    font-size: 19.5px;
    margin-top: 1%;
    margin-bottom: 3.5%;
}

a{
    color: whitesmoke;
}

button{
    padding: 2.5%;
    margin-left: 21%;
    width: 55%;
    background: #1b991b;
    margin-top: 3%;
    border: 1px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    color: whitesmoke;
    font-size: 22px;
    text-shadow: 1px 1px 1px black;
}

button:hover{
    background: #105e10;
    box-shadow: inset 2px 2px 2px black;
    text-shadow: none;
    cursor: pointer;
}

input{
    outline: 0;
}
