@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #8087CD;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

h1{
    margin-top: 20px;
    font-size: 40px;
}

p{
    font-size: 18px;
}

form{
    background-color: #181c31e8;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding:25px;
    width: 45%;
}

.campo label{
    display: block;
    color: white;
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="password"]{
    padding: 15px;
    width: 90%;
    border: 1px;
    border-radius: 8px;
    margin-bottom: 4px;
    box-shadow: 2px 2px 2px black;
    font-size: 15px;
    outline: 0;
}

.campo input[type="date"], .campo select{
    padding: 10px;
    width: 40%;
    border: 1px;
    border-radius: 8px;
    margin-bottom: 4px;
    box-shadow: 2px 2px 2px black;
    outline: 0;
}

.campo option{
    font-size: 15px;
}

.checkOpt label{
    font-size: 19.5px;
    margin-top: 10px;
    margin-bottom: 17px;
}

a{
    color: whitesmoke;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 55%;
    background: #1b991b;
    margin: auto;
    margin-top: 30px;
    border: 1px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    color: whitesmoke;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}

button:hover{
    background: #105e10;
    box-shadow: inset 2px 2px 2px black;
    text-shadow: none;
    cursor: pointer;
}
