@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #4EA5D9;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
}

form{
    background-color: #232020;
    border-radius: 6px;
    margin: 10px 0 10px 0;
    padding:25px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

form h1{
    text-align: center;
    margin-bottom: 10px;
}

h1::after{
    content: '';
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 55%;
    height: 2px;
    background-color: whitesmoke;
}

label{
    font-size: 1.5rem;
    margin: 15px 0 5px 0;
}

input[type="text"], input[type="email"], input[type="password"]{
    padding: 12px;
    border: 1px;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px black;
    font-size: 1rem;
}

input[type="date"], select{
    padding: 10px;
    width: 40%;
    border: 1px;
    border-radius: 8px;
    margin-bottom: 4px;
    box-shadow: 2px 2px 2px black;
    outline: 0;
}

option{
    font-size: 1rem;
}

.checkOpt{
    display: flex;
    flex-direction: column;
}

.checkOpt label{
    font-size: 1.2rem;
    margin-top: 2px;
}

a{
    color: whitesmoke;
}

input[type="submit"]{
    padding: 15px;
    background: #1b991b;
    margin: auto;
    margin-top: 20px;
    border: 1px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    color: whitesmoke;
    font-size: 1rem;
    text-shadow: 1px 1px 1px black;
}

input[type="submit"]:hover{
    background: #105e10;
    box-shadow: inset 2px 2px 2px black;
    text-shadow: none;
    cursor: pointer;
}